.app-header {
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navigation-links {
    width: 30%;
   position: relative;
    display: flex;
}

.search-box {
    margin-left: auto;

}

.right-container {
    position: relative;
    display: flex;
}
.TopButton{
    margin-top: 15px;
/*    设置按钮之间的间距*/
    margin-right: 20px;

}
.footer-wrapper {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.title {
    margin-right: 1000px;
}

.sidebar {
    overflow: auto;
    height: 100vh;
    position: sticky;
    left: 0;
    top: 0;
    bottom: 0;

}

.content {
    margin-left: 0px;
    overflow: auto;
    position: sticky;
    top: 0;
    bottom: 0;
}